body {
  margin: 1.5rem;
  color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: bold;
}

h2,
h3 {
  text-transform: uppercase;
}

main {
  max-width: 75rem;
  margin: 0 auto;
}

figure {
  width: 100%;
  margin: 0;
}

figure.iiz {
  display: block;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.demo {
  margin-bottom: 3rem;
}

.demo__props {
  padding-top: 1rem;
}

.demo__card {
  background: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.demo__card + .demo__card {
  margin-top: 1rem;
}

.demo__card h3 {
  margin: 0;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.demo__card ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
}

.demo__card li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 40rem) {
  .demo {
    display: flex;
    align-items: flex-start;
  }

  .demo__props {
    width: 33.333%;
    padding: 0 0 0 1rem;
    flex-shrink: 0;
  }
}

@media (min-width: 64rem) {
  .demo__props {
    padding-left: 1.5rem;
  }

  .demo__card + .demo__card {
    margin-top: 1.5rem;
  }
}
