:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --font-heading: omnes-pro, sans-serif;
  --font-primary: omnes-semicond, sans-serif;

  --foreground-hex: #222;
  --foreground-secondary-hex: #888;
  --background-hex: #f8f8f8;
  --accent-primary-hex: #7fbff9;
  --accent-secondary-hex: #7dc181;
  --accent-tertiary-hex: #fd626a;
  --accent-quaternary-hex: #f96;
  --link-hex: #0779af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #f8f8f8;
    --background-hex: #222;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--background-hex);
  color: var(--foreground-hex);
  font-family: var(--font-primary);
}

a {
  color: #0779af;
  text-decoration: none;
  font-weight: 500;
}

a:hover,
a:focus {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
